
<section class="intro">
    <article class="viaja">
        <span class="viaja">¡Viaja!</span>
        <span class="descubre">¡Descubre lugares maravillosos!</span>
        <a href="#">Ver destinos</a>
    </article>
</section>

<section class="destinos">
    <article class="bloque beijing">
        <div class="destino">Beijing</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">359$</div>
    </article>
    <article class="bloque buenosAires">
        <div class="destino">Buenos Aires</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">250$</div>
    </article>
    <article class="bloque ciudadMexico">
        <div class="destino">Ciudad México</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">888$</div>
    </article>
    <article class="bloque madrid">
        <div class="destino">Madrid</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">741$</div>
    </article>
    <article class="bloque newYork">
        <div class="destino">New York</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">896$</div>
    </article>
    <article class="bloque Torrent">
        <div class="destino">Torrent</div>
        <div class="save">Save 90$ pay only</div>
        <div class="price">753$</div>
    </article>
</section>

<section class="quienesSomos">
    <article class="texto">
        <h1 class="tituloQuienes">QUIÉN SOMOS</h1>
        <div class="subrayado"></div>
        <p>Lorem, ipsum dolor sit amet consectetur  quae illo, enim praesentium debitis, fugiat sint sapiente et ipsum quibusdam minus repudiandae fugit ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quo commodi incidunt, hic fugit suscipit numquam debitis recusandae laboriosam! Ad aliquam quam aspernatur, molestias vel porro fugiat saepe consectetur! Quas?</p>
        <div class="descubrir">
            <a href="#">DESCUBRIR</a>
        </div>
    </article>
</section>

<section class="contacto">
    <article class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24640.049195174066!2d-0.3600323932969354!3d39.469189787120015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60490c7482cd8f%3A0x734fc040eebf5d78!2sGeeksHubs+Valencia!5e0!3m2!1ses!2ses!4v1559405541212!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </article>

    <article class="contactoYFormulario">
        <p>E: enrique@hiatraveñ.com</p>
        <p>P: 854 222 147</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor sit amet</p>
        <p>We are open every dias de 8:30 AM - 4:00 PM</p>
        <div class="linea"></div>
        <div class="formulario">
            <input class="name" placeholder="Name*">
            <input class="email" placeholder="Email*">
            <input class="phone" placeholder="Phone">
            <input class="country" placeholder="Country">
            <textarea class="message" placeholder="Message"></textarea>
        </div>
        <p class="please">*PLEASE COMPLETE ALL FIELDS CORRECTLY</p>
        <a class="enviar" href="#">Enviar mensaje</a>
    </article>

</section>

