<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/layout.css'  />
</head>

<body>
  <header>
    <article class="logo">
      <a class="agencia-brand" href="#"><img src="/images/iconoweb.png" /></a>
      <p class="logoText">GeeksHubs<br>Travels</p>
    </article>

    <article class="menu">
      <a class="nav-link" href="#">Destino</a>
      <a class="nav-link" href="#">Quiénes somos</a>
      <a class="nav-link" href="#">Dónde estamos</a>
    </article>

    <article class="menuIcons">
      <a class="nav-item-ico1" href="#"><img src="/images/tt-ico.png" /></a>
      <a class="nav-item-ico2" href="#"><img src="/images/ws-ico.png" /></a>
      <a class="nav-item-ico3" href="#"><img src="/images/fb-ico.png" /></a>
      <a class="nav-item-ico4" href="#"><img src="/images/inst-ico.png" /></a>
      <a class="nav-item-ico5" href="#"><img src="/images/lnk-ico.png" /></a>
      <a class="nav-item-ico6" href="#"><img src="/images/yb-ico.png" /></a>
    </article>

    <article class="menuHamburguesa">
      <img src="/images/menu-hamburgesa.png">
      </article>
  </header>

  {{{body}}}

  <footer class="footer">
    <article class="grupo">
      <dl class="ayuda">
        <dt id="titulo">¿NECESITAS AYUDA?</dt>
        <dd>5652 458 222</dd>
        <dd>dersdmegatravel@travel.es</dd>
        <span class="horario">Lun-Vie 9:30-19:00 Sáb 10:00-14:00</span>
      </dl>
      <ul class="informacion">
        <li id="titulo" type="none">INFORMACIÓN</i>
        <li type="none"><a href="#">Quiénes somos</a>
        <li type="none"><a href="#">Preguntas frecuentes</a>
        <li type="none"><a href="#">Política de privacidad</a>
        <li type="none"><a href="#">Condiciones generales</a>
        <li type="none"><a href="#">Aviso legal</a>
        <li type="none"><a href="#">Contacto</a>
        <li type="none"><a href="#">Programa de puntos</a>
      </ul>
      <ul class="suscripcion">
        <li type="none" id="titulo">SUSCRIBETE A LA NEWSLETTER
        <li type="none" ><input placeholder="Correo electrónico"> 
        <li type="none"><a href="#">SUSCRIBETE</a>
      </ul>
    </article>

    <article class="derecho">
      <span>GeeksHubs 2018 todos los derechos reservados</span>
    </article>
  </footer>
</body>

</html>