<section class="recovery">
    <h1 class="titRecovery">RECUPERACIÓN DE CONTRASEÑA</h1>
    <form  action="users/recovery" method="POST">
        <input type="text" name="emailRecovery" placeholder="Introduce tu email">
        <button type="submit">Enviar</button>

    </form>
</section>